@{
    ViewBag.Title = "CONTATO";
}
<h3>@ViewBag.Title.</h3>
<h3>@ViewBag.Message</h3>

<address>
    Endereco<br />
    Rua Cayena, 119 - Pq.  Guanabara<br />
    <abbr title="43 98813-7513">CEP:</abbr>
    86050.080
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:head.dev.gg@gmail.com">head.dev.gg@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:danniel.jpeg@gmail.com">danniel.jpeg@gmail.com</a>
</address>